/* style.css */
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#clock {
  display: flex;
  font-family: monospace;
  font-size: 4rem;
  color: white;
}

.digit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: transform 0.5s ease-in-out;
}
